<!doctype html>
<html class="no-js" lang="">
    <head>
        {% block meta %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ title }}</title>
        <meta name="description" content="{{ description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock %}

        {% block styles %}
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css" type="text/css">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Crimson+Text" type="text/css">
        <link rel="stylesheet" href="/assets/css/blog/main.css" type="text/css">
        {% endblock %}
        {% block resources %}{% endblock %}
    </head>
    <body>
        <section class="content">
        {% block content %}
        {% endblock %}
        </section>

        {% block scripts %}
        {% endblock %}
    </body>
</html>
