
    body {
        cursor: default;
        font-size: 14px;
    }

    pre {
        background-color: rgb(247, 247, 247);
        overflow-x: auto;
        overflow-y: hidden;
        padding: 30px 300px;
    }

    h2 {
        margin-top: 50px;
        margin-left: 300px;
    }
