<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ title }}</title>
        <meta name="description" content="{{ description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/assets/vendor/normalize-css/normalize.css">
        {% block resources %}{% endblock %}
    </head>
    <body>
        {% block content %}
        {% endblock %}

        <script src="/assets/vendor/modernizr/modernizr.js"></script>
        <script src="/assets/vendor/socket.io-client/socket.io.js"></script>

        {% block scripts %}{% endblock %}
    </body>
</html>
