<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Not found</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/assets/vendor/normalize-css/normalize.css" type="text/css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Crimson+Text" type="text/css">
        <link rel="stylesheet" href="/assets/css/blog/main.css" type="text/css">
    </head>
    <body>
        <section class="content">
            <h2>Not found</h2>
            <p>the post could not be found.</p>
        </section>

        <script src="/assets/vendor/modernizr/modernizr.js"></script>
    </body>
</html>
